<div>
    <button class="btn btn-warning"><a routerLink="/home">Products</a></button>
</div>
<div class="review-list" *ngIf="token!==null">
    <h1>Reviews of all users</h1>
    <ul>
        <li *ngFor="let reviewList of arrayProduct">
            <div class="d-flex"  *ngIf="reviewList.approved==false">
                <div class="left">
                    <span>
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="profile-pict-img img-fluid" alt="" />
                    </span>
                </div>
                <div class="right">
                    <h4>
                        {{reviewList.name}}
                        <span class="gig-rating text-body-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
                                <path
                                    fill="currentColor"
                                    d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z"
                                ></path>
                            </svg>
                            {{reviewList.rating}}.0
                        </span>        
                        <li (click)="isApproved(reviewList.id,reviewList)">
                            <mat-icon style="color: rgb(174, 232, 57);">check_circle_outline</mat-icon>
                        </li>
                        <li (click)="deleteReview(reviewList.id)"><mat-icon style="color: rgb(205, 73, 50);">highlight_off</mat-icon></li>
                    </h4>
                    <div class="review-description">
                        <h4>{{reviewList.heading}}</h4>
                        <p>
                            {{reviewList.detail}}
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


