<div class="login">
	<a class="logo" target="_blank">
		<mat-icon>account_circle</mat-icon>
	</a>
	<div class="link" *ngIf="token==null;else show">
		<a (click)="goToLogin()" target="_blank">
			Login / 
		</a>
		<a (click)="goToSignUp()" target="_blank">
			Register
		</a>
	</div>
	<ng-template #show>
		<h5>Welcome {{name}}</h5>
	</ng-template>
</div>

  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  <label for="menu-icon"></label>
  <nav class="nav"> 		
      <ul class="pt-5">
          <li><a routerLink="/home">Home</a></li>
          <div *ngIf="token==null;else showLinks">
		     <li><a routerLink="/auth/signUp">Sign Up</a></li>
             <li><a routerLink="/auth/login">Login</a></li>
		  </div>
		  <ng-template #showLinks>
			<li (click)="logout()"><a>Logout</a></li>
		  </ng-template>
      </ul>
  </nav>
  <div class="section-center" *ngIf="token!=null">
	<app-products></app-products>
  </div>
   <!-- <app-stats [ngClass]="token == null ? 'status' : 'app-stats'"></app-stats> -->
